---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<aside aria-labelledby="cta" class="grid-triangles-bg relative">
  <Container className="py-16">
    <div class="lg:w-5/6 xl:w-2/3 mx-auto mb-6">
      <h2
        id="cta"
        class="text-center mx-auto mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight"
      >
        Protect your clients. Protect your time. Protect your reputation.
      </h2>
      <p class="text-center text-lg">
        It’s easy with Zorus Filtering with CyberSight
      </p>
    </div>
    <div class="flex flex-col items-center space-y-4">
      <Button route="/book-a-live-demo" label="BOOK YOUR DEMO" />
      <span class="text-[#b6c8dd]"
        >(It’s fast, fun and no-pressure — we promise.)</span
      >
    </div>
  </Container>
</aside>

<style>
  .grid-triangles-bg:after {
    background: url("../../public/grid-triangles.svg");
    background-position: bottom;
    background-size: cover;
    bottom: -2rem;
    content: "";
    display: block;
    height: 0;
    padding-bottom: 25.3645833333%;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
  }
</style>
