---
import { Image } from "astro:assets";

import ChannelProgramQ12024 from "../assets/channel-program-q1-24.png";
import ChannelProgramQ22024 from "../assets/channel-program-q2-24.png";
import ChannelProgramQ32024 from "../assets/channel-program-q3-24.png";
import ChannelProgramQ42024 from "../assets/channel-program-q4-24.png";
import Container from "./Container.astro";
---

<Container>
  <div class="flex">
    <div class="w-full mx-auto text-center mb-8">
      <h2
        class="font-monospace font-semibold text-4xl mb-6 w-full mx-auto md:max-w-xl lg:max-w-3xl md:leading-tight text-center leading-tight"
      >
        Trusted by cybersecurity experts. Leading the way in DNS protection.
      </h2>
      <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
    </div>
  </div>

  <div
    class="md:flex-wrap flex flex-col mx-auto gap-y-10 gap-x-10 items-center justify-center md:flex-row md:w-2/3 lg:w-full"
  >
    <Image
      src={ChannelProgramQ12024}
      class="mx-auto w-[140px] md:mx-0"
      alt="Channel Program Q1 2024"
    />
    <Image
      src={ChannelProgramQ22024}
      class="mx-auto w-[140px] md:mx-0"
      alt="Channel Program Q2 2024"
    />
    <Image
      src={ChannelProgramQ32024}
      class="mx-auto w-[140px] md:mx-0"
      alt="Channel Program Q3 2024"
    />
    <Image
      src={ChannelProgramQ42024}
      class="mx-auto w-[140px] md:mx-0"
      alt="Channel Program Q4 2024"
    />
  </div>
</Container>
