---
const { page } = Astro.props;
import ArrowLong from "../../public/icon--arrow-long.svg?url";
---

<div class="flex gap-x-2 text-white ml-5 mb-20 items-center">
  <a
    href="/"
    class="hover:text-[#00f0ff] transition-all duration-300 ease-in-out">Home</a
  ><img src={ArrowLong} alt="icon arrow" role="presentation" class="mt-0.5" />
  <p class="font-light">{page}</p>
</div>
