---
const { route, label, className } = Astro.props;

import "../styles/global.css";
---

<a
  href={route}
  class=`bg-gradient-to-br from-[#12031F]  to-[#020206] text-center transition-all duration-200 uppercase font-monospace border-2 text-[#00f0ff] border-[#00f0ff] px-10 py-2.5 font-semibold shadow-[0_0_10px_#00f0ff] cursor-pointer hover:text-[#041242] leading-7 glitch ${className}`
>
  {label}
</a>
