<div class="mb-5 bg-[#171717]">
  <div class="container mx-auto max-w-7xl px-5 py-2 md:px-12">
    <div class="flex items-center justify-center md:justify-between">
      <div class="space-x-3">
        <span class="text-[#b6c8dd]">FREE MSP Marketing Kit</span>
        <a
          href="https://lp.zorustech.com/sales-flyers"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button
            class="font-monospace border-2 border-[#00f0ff] px-2 py-1 font-semibold uppercase text-[#00f0ff]"
          >
            Download Here
          </button>
        </a>
      </div>
      <div class="hidden space-x-6 md:block">
        <span class="text-[#b6c8dd]">(888) 428-2343</span>
        <a
          href="https://portal.zorustech.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button
            class="font-monospace font-semibold uppercase text-[#7e89ad] transition duration-300 ease-out hover:text-[#00f0ff]"
          >
            Sign In
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
