---
import Container from "./Container.astro";
---

<Container>
  <h2
    class="lg:w-1/2 text-center mx-auto mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight"
  >
    See how Zorus transformed this MSP's business
  </h2>
  <div class="md:w-11/12 lg:w-5/12 mx-auto text-center mb-10">
    <p class="text-lg mb-3">
      “We’re all skeptical of the latest shiny new thing. But Zorus delivers. I
      have peace of mind. My clients have peace of mind.”
    </p>
    <p class="text-lg">— Mike Giovaninni, Netwerks</p>
  </div>
  <div
    class="card card__testimonial rounded-lg bg-gradient-to-b from-[#05B4F4] to-[#660DAB] p-px testimonial__video-wrapper mx-auto"
  >
    <iframe
      class="rounded-lg w-[360px] h-[200px] sm:w-[534px] sm:h-[296px] md:w-[718px] md:h-[398px] lg:w-[974px] lg:h-[540px] xl:w-[1230px] xl:h-[683px]"
      src="https://www.youtube.com/embed/JZ_sSv_4xSU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</Container>
