---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<title>Astro Basics</title>
	</head>
	<body class="bg-gradient-to-br from-[#12041F] to-[#030206]">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		font-family: "Rubik", sans-serif;
		font-weight: 200;
	}
</style>
